exportPattern("^[[:alpha:]]+")
exportMethods(
    "align",
    "center",
    "eFourier",
    "ellipse.par",
    "harm.contrib",
    "harm.pow",
    "harm.qual",
    "harm.quant",
    "manova.nef",
    "pca",
    "Ptolemy",
    "sample",
    "scale",
    "smooth.qual"
)

exportClasses(
    "Coo",
     "Nef" 
)
